:root {
    --interface-color: #0A0B0D;
    --interface-text-color: rgb(253,217,141);
    --font-normal: 'Apple';
    --font-bold: 'Apple-semi-bold';
}
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
/*————————————————————————————————————————|Fonts|————————————————————*/
@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Apple';
    src: url('../files/fonts/sfui/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Apple-bold';
    src: url('../files/fonts/sfui/SFUIText-Bold.otf');
}
@font-face {
    font-family: 'Apple-heavy';
    src: url('../files/fonts/sfui/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Apple-semi-bold';
    src: url('../files/fonts/sfui/SFUIText-Semibold.otf');
}

/*————————————————————————————————————————|Header|————————————————————*/
body {
    font-family: var(--font-normal);
}
/*————————————————————————————————————————||————————————————————*/
header {
    text-align: center;
    padding: 0.5em;
    background-color: var(--interface-color);
    color: var(--interface-text-color);
}
h1 {
    font-family: var(--font-bold);
}
/*————————————————————————————————————————||————————————————————*/
#page-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 3em;
}
/*————————————————————————————————————————||————————————————————*/
#game {
    max-width: 500px;
    margin-top: 0.5em;
}
#searched_word_text {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.2em;
    font-family: var(--font-bold);
}
#searched_word {
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}
#cont_entered_word {
    display: flex;
    flex-direction: row;
}
#entered_word {
    padding: 0.5em;
    width: 90%;
    font-size: 1.5em;
    border: none;
    border-bottom: solid 1px black;
}
#entered_word:focus {
    outline: none;
}
#result {
    padding: 0.5em;
    text-align: center;
}
#submit {
    padding: 0.5em;
    width: 10%;
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    font-family: var(--font-bold);
    display: flex;
    justify-content: center;
}
#submit img {
    width: auto;
    height: 2.5em;
}
/*————————————————————————————————————————|symbols|————————————————————*/
.symbols {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    padding: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    user-select: none;
}
#character-map {
    padding: 0.5em;
    text-align: center;
    font-family: var(--font-bold);
}
/*————————————————————————————————————————||————————————————————*/
.correct {
    color: green;
    font-family: var(--font-bold);
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.incorrect {
    color: red;
    text-decoration: line-through;
}
.original {
    color: gray;
}
.wrong {
    color: red;
}
/*————————————————————————————————————————||————————————————————*/
#lang-settings {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lang-settings select {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-size: 1em;
    padding: 0.5em;
    font-family: var(--font-bold);
    border: none;
}
#lang-settings select:focus {
    border: none;
}
.button {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    padding: 0.5em;
    font-size: 1em;
    font-family: var(--font-bold);
    border: none;
    border: solid 1px black;
}
/*————————————————————————————————————————||————————————————————*/
#search-box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#search-box h2 {
    font-family: var(--font-bold);
}
#dictionary-list .word-cont {
    padding: 0.1em;
}
#dictionary-list .word-cont .pause {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#dictionary-list .word-cont .translate {
    color: grey;
}
#dictionary-list::selection {
    background-color: var(--interface-text-color);
}
/*————————————————————————————————————————||————————————————————*/
#searchelement {
    padding: 0.5em;
    font-size: 1em;
    border: none;
    margin-top: 0.5em;
    border-bottom: solid 1px black;
}
#searchelement:focus {
    border: none;
    outline: none;
    border-bottom: solid 1px black;
}
/*————————————————————————————————————————||————————————————————*/
footer {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    padding: 0.5em;
    visibility: visible;
        position: fixed;
        bottom: 0;
        width: 100%;
}
#version {
    font-family: var(--font-bold);
    color: gray;
}
#vr {
    font-size: 0.8em;
    color: gray;
    text-align: center;
    margin-top: 0.5em;
}
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
@media screen and (min-width: 200px) {
    #mobile-widgets {
        visibility: visible;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        background-color: var(--interface-color);
        color: var(--interface-text-color);
    }
    #mobile-widgets a {
        background-color: var(--interface-color);
        color: var(--interface-text-color);
        padding: 0.5em;
        text-decoration: none;
        font-family: 'Apple-bold';
    }
    #refresh {
        visibility: hidden;
        position: fixed;
    }
}
@media screen and (min-width: 1200px) {
    #mobile-widgets {
        visibility: hidden;
    }
    #refresh {
        visibility: visible;
        position: relative;
    }
}